<h2>Resultado del Corte Diario</h2>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Piezas Vendidas</th>
            <th>Total Ventas</th>
        </tr>
    </thead>
    <tbody>
        {% for registro in registros %}
        <tr>
            <td>{{ registro.producto.nombre }}</td>
            <td>{{ registro.calcular_piezas_vendidas }}</td>
            <td>{{ registro.calcular_total_ventas }}</td>
            <td>{{ registro.fecha }}</td>
            

        </tr>
        {% endfor %}

        <tr>
            <td colspan="2"><strong>Venta Total de Todos los Productos:</strong></td>
            <td><strong>${{ calcular_venta_hoy }}</strong></td>
        </tr>
    </tbody>
</table>
